<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_effect_fire_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,876}</string>
                <key>spriteSize</key>
                <string>{323,564}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1,1439},{323,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,876}</string>
                <key>spriteSize</key>
                <string>{323,564}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1,1439},{323,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,68}</string>
                <key>spriteSize</key>
                <string>{215,468}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1233,955},{215,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-496}</string>
                <key>spriteSize</key>
                <string>{201,382}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1458,1532},{201,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_effect_fire_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-811}</string>
                <key>spriteSize</key>
                <string>{381,236}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1458,1735},{381,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-691}</string>
                <key>spriteSize</key>
                <string>{533,476}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{602,1439},{533,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_effect_fire_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-687}</string>
                <key>spriteSize</key>
                <string>{575,484}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1,945},{575,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-676}</string>
                <key>spriteSize</key>
                <string>{593,506}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{638,931},{593,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-688}</string>
                <key>spriteSize</key>
                <string>{629,482}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1287,1},{629,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-689}</string>
                <key>spriteSize</key>
                <string>{635,480}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{650,1},{635,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-692}</string>
                <key>spriteSize</key>
                <string>{647,474}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1,1},{647,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-696}</string>
                <key>spriteSize</key>
                <string>{635,466}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1,477},{635,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-695}</string>
                <key>spriteSize</key>
                <string>{599,468}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1261,485},{599,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-706}</string>
                <key>spriteSize</key>
                <string>{621,446}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{638,483},{621,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_effect_fire_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-713}</string>
                <key>spriteSize</key>
                <string>{575,432}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1458,955},{575,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_effect_fire_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-741}</string>
                <key>spriteSize</key>
                <string>{523,376}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1080,1439},{523,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_effect_fire_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-792}</string>
                <key>spriteSize</key>
                <string>{475,274}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{326,1431},{475,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_effect_fire_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-849}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{909,2398}</string>
                <key>textureRect</key>
                <string>{{1862,485},{31,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_fire.png</string>
            <key>size</key>
            <string>{1917,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb266de1ef7443a58d385b41a2532655:d0f17c608dfcc4062b1cf635c3b35062:2366ff019d8d7aed50a334e8bf9c4294$</string>
            <key>textureFileName</key>
            <string>effect_fire.png</string>
        </dict>
    </dict>
</plist>
