<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_tower_100001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,68}</string>
                <key>spriteSize</key>
                <string>{178,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{216,875},{178,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_tower_100002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,68}</string>
                <key>spriteSize</key>
                <string>{178,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{435,875},{178,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_tower_100003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,66}</string>
                <key>spriteSize</key>
                <string>{204,213}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{1,871},{204,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_tower_100004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,68}</string>
                <key>spriteSize</key>
                <string>{240,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{709,1},{240,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,68}</string>
                <key>spriteSize</key>
                <string>{276,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{675,220},{276,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,66}</string>
                <key>spriteSize</key>
                <string>{310,213}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{653,658},{310,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,68}</string>
                <key>spriteSize</key>
                <string>{324,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{1,652},{324,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,68}</string>
                <key>spriteSize</key>
                <string>{334,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{339,218},{334,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,68}</string>
                <key>spriteSize</key>
                <string>{334,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{1,433},{334,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,66}</string>
                <key>spriteSize</key>
                <string>{336,213}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{1,218},{336,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,67}</string>
                <key>spriteSize</key>
                <string>{352,215}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{1,1},{352,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,67}</string>
                <key>spriteSize</key>
                <string>{352,215}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{355,1},{352,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,68}</string>
                <key>spriteSize</key>
                <string>{310,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{673,439},{310,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,68}</string>
                <key>spriteSize</key>
                <string>{324,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{327,656},{324,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,68}</string>
                <key>spriteSize</key>
                <string>{334,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{337,437},{334,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,68}</string>
                <key>spriteSize</key>
                <string>{334,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{337,437},{334,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_tower_100017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,68}</string>
                <key>spriteSize</key>
                <string>{178,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{654,873},{178,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_tower_100018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,68}</string>
                <key>spriteSize</key>
                <string>{178,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{654,873},{178,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_tower_100019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,68}</string>
                <key>spriteSize</key>
                <string>{178,217}</string>
                <key>spriteSourceSize</key>
                <string>{790,357}</string>
                <key>textureRect</key>
                <string>{{654,873},{178,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tower_blueMagic.png</string>
            <key>size</key>
            <string>{984,1076}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621422436379c5792908fa6981b296bc:64f081c60504a947c76e953eafcc03d2:3ebb1804090429f3c97c349a0b587924$</string>
            <key>textureFileName</key>
            <string>tower_blueMagic.png</string>
        </dict>
    </dict>
</plist>
